html {
  height: 100vh;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Dosis", sans-serif;
  font-display: swap;

  background: linear-gradient(320deg, #eb92be, #ffef78, #63c9b2);
  height: inherit;
}

.wrapper {
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
  color: #232323;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.34);
  flex-basis: 400px;
  height: 540px;
  padding: 20px 35px;
}

.screen {
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
  border-radius: 16px;

  font-size: 3.5rem;
  color: #232323;

  padding: 20px;
  width: 326px;
  overflow: auto;
  text-align: right;
}

.calcButtonRow {
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
}

.calcButton {
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  color: #232323;

  flex-basis: 20%;
  height: 65px;

  font-family: inherit;
  font-size: 24px;
}

.calcButton:last-child {
  color: #fff;
  background: #d72880;
}

.calcButton:last-child:hover {
  background-color: inherit;
  color: inherit;
}

.calcButton:hover {
  background-color: inherit;
}

.calcButton:active {
  background-color: #ff3f78;
}

.doble {
  flex-basis: 47%;
}

.triple {
  flex-basis: 73%;
}